<style>
  .a:hover .b {
    display: block
  }

  .b {
    display: none
  }
</style>
<mat-toolbar>
  <button mat-raised-button color="primary" (click)="openAppraisalFormDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="5" rowHeight="3:1">
  <div *ngIf="appraisalForms.length > 0">
    <mat-grid-tile *ngFor="let appraisalForm of appraisalForms">
      <button mat-stroked-button style="height:90%; width:90%" class="a" (click)="openAppraisalFormDialog2(appraisalForm.id)">
        {{appraisalForm.appraisalFormName}}
        <button mat-icon-button (click)="onDelete(appraisalForm.id)" class="b">
          <mat-icon (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">{{ic}}</mat-icon>
        </button>
      </button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
